<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1>Aundre Edwards</h1>
    <p>Determined and harworking individual seeking a career in the computing field that will educe <br>
    my innovative thinking and creative skills to further the technology develpment in your company.<br> 
    I am a dedicated team player who pays close attention to details and can be relied upon to help your company achieve its goals.
    </p>
    
</body>
</html>    